@{
    ViewData["Title"] = "الخدمات";
}

<section class="services-header">
    <div class="container pt-5">

        <h2 data-ar="خدماتنا" data-en="Our Services">
            خدماتنا
        </h2>

        <div class="fw-semibold">

            <a href="/Home/Index" data-ar="الرئيسية" data-en="Home">
                الرئيسية
            </a>

            <span>/</span>

            <span data-ar="خدماتنا" data-en="Our Services">
                خدماتنا
            </span>

        </div>

    </div>
</section>

<section class="services-section py-5">
    <div class="container">
        <div class="heading text-center d-flex flex-column gap-3 mb-5 justify-content-center align-items-center">

            <span data-ar="خدماتنا" data-en="Our Services">
                خدماتنا
            </span>

            <h2 data-ar="اكتشف المجموعة الشاملة من خدمات تأجير السيارات الفاخرة التي تقدمها شركة المها"
                data-en="Discover the full range of luxury car rental services offered by Almaha Company">
                اكتشف المجموعة الشاملة من خدمات تأجير السيارات الفاخرة التي تقدمها شركة المها
            </h2>

        </div>
        <div class="row g-4">

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service-1.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="تأجير سيارات بمدة قصيرة (يومي / أسبوعي)"
                        data-en="Short-Term Car Rental (Daily / Weekly)">
                        تأجير سيارات بمدة قصيرة (يومي / أسبوعي)
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="مرونة عالية لتلبية الاحتياجات الفورية، سواء للسياحة، الزيارات العائلية، أو التنقلات اليومية خيارات متنوعة من السيارات الاقتصادية، العائلية، والفاخرة"
                       data-en="High flexibility to meet immediate needs, whether for tourism, family visits, or daily commuting. A variety of economy, family, and luxury cars are available.">
                        مرونة عالية لتلبية الاحتياجات الفورية، سواء للسياحة، الزيارات العائلية، أو التنقلات
                        اليومية خيارات متنوعة من السيارات الاقتصادية، العائلية، والفاخرة
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service-2.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="تأجير سيارات بمدة طويلة (شهري / سنوي)"
                        data-en="Long-Term Car Rental (Monthly / Yearly)">
                        تأجير سيارات بمدة طويلة (شهري / سنوي)
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="حلول مثالية للشركات والمؤسسات التي تحتاج لأسطول سيارات دون أعباء التملك والصيانة عقود مخصصة تتناسب مع الميزانية والاحتياجات التشغيلية خدمات صيانة شاملة وتأمين خلال فترة العقد"
                       data-en="Ideal solutions for companies and organizations needing a fleet of cars without ownership and maintenance burdens. Customized contracts to match budget and operational needs, with comprehensive maintenance and insurance during the contract period.">
                        حلول مثالية للشركات والمؤسسات التي تحتاج لأسطول سيارات دون أعباء التملك والصيانة عقود
                        مخصصة تتناسب مع الميزانية والاحتياجات التشغيلية خدمات صيانة شاملة وتأمين خلال فترة العقد
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service3.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="تأجير سيارات للشركات" data-en="Corporate Car Rental">
                        تأجير سيارات للشركات
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="برامج تأجير مصممة خصيصا لقطاع الأعمال، تشمل أساطيل سيارات للموظفين، النقل التنفيذي أو لأغراض المشاريع إمكانية توفير سائقين محترفين عند الطلب"
                       data-en="Rental programs designed specifically for the business sector, including employee fleets, executive transport, or project purposes. Professional drivers can be provided upon request.">
                        برامج تأجير مصممة خصيصا لقطاع الأعمال، تشمل أساطيل سيارات للموظفين، النقل التنفيذي
                        أو لأغراض المشاريع إمكانية توفير سائقين محترفين عند الطلب
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service-4.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="تأجير سيارات مع سائق" data-en="Car Rental with Driver">
                        تأجير سيارات مع سائق
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="خدمة راقية ومريحة للمسافرين ورجال الأعمال وكبار الشخصيات سائقون ذوو خبرة ومعرفة بالطرق، ملتزمون بالمواعيد والاحترافية"
                       data-en="A premium and comfortable service for travelers, businesspeople, and VIPs. Experienced drivers with road knowledge, punctual and professional.">
                        خدمة راقية ومريحة للمسافرين ورجال الأعمال وكبار الشخصيات
                        سائقون ذوو خبرة ومعرفة بالطرق، ملتزمون بالمواعيد والاحترافية
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service-5.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="خدمات المطار (الاستلام والتسليم)"
                        data-en="Airport Services (Pickup & Drop-off)">
                        خدمات المطار (الاستلام والتسليم)
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="تسهيل عملية وصول ومغادرة عملائنا من وإلى جميع المطارات الرئيسية في المملكة خدمة توصيل واستلام السيارة من باب المطار أو الفندق لتوفير الوقت والجهد"
                       data-en="Facilitating the arrival and departure of our clients to and from all major airports in the Kingdom. Car pickup and drop-off service from the airport or hotel to save time and effort.">
                        تسهيل عملية وصول ومغادرة عملائنا من وإلى جميع المطارات الرئيسية في المملكة
                        خدمة توصيل واستلام السيارة من باب المطار أو الفندق لتوفير الوقت والجهد
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service-6.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="تأجير سيارات فخمة ورياضية" data-en="Luxury & Sports Car Rental">
                        تأجير سيارات فخمة ورياضية
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="للمناسبات الخاصة، الفعاليات، أو لمن يبحث عن تجربة قيادة مميزة وفاخرة تشكيلة من أحدث وأفخم موديلات السيارات تأجير سيارات الدفع الرباعي والمركبات العائلية الكبيرة مثالية للرحلات الطويلة، العائلات الكبيرة، أو للطرق الوعرة توفر مساحة وراحة إضافية"
                       data-en="For special occasions, events, or for those seeking a unique and luxurious driving experience. A collection of the latest and most luxurious car models, including 4x4s and large family vehicles. Ideal for long trips, large families, or rough roads, offering extra space and comfort.">
                        للمناسبات الخاصة، الفعاليات، أو لمن يبحث عن تجربة قيادة مميزة وفاخرة
                        تشكيلة من أحدث وأفخم موديلات السيارات
                        تأجير سيارات الدفع الرباعي والمركبات العائلية الكبيرة
                        مثالية للرحلات الطويلة، العائلات الكبيرة، أو للطرق الوعرة
                        توفر مساحة وراحة إضافية
                    </p>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="services-card">
                    <div class="img">
                        <img src="~/images/service-7.jpg" class="img-fluid rounded-2" alt="service image">
                    </div>

                    <h3 data-ar="خدمات المساعدة على الطريق" data-en="Roadside Assistance Services">
                        خدمات المساعدة على الطريق
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="دعم متواصل على مدار الساعة لضمان راحة وسلامة عملائنا المساعدة في حالات الأعطال الحوادث، أو أي طارئ على الطريق تأمين شامل"
                       data-en="24/7 support to ensure our clients’ comfort and safety. Assistance in case of breakdowns, accidents, or any roadside emergencies. Comprehensive insurance included.">
                        دعم متواصل على مدار الساعة لضمان راحة وسلامة عملائنا
                        المساعدة في حالات الأعطال الحوادث، أو أي طارئ على الطريق
                        تأمين شامل
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="service-section py-5">
    <div class="container">
        <div class="text-center mb-5">
            <h2 class="fw-bold mt-2" data-ar="حلول تأجير مرنة تناسب احتياجاتك الشخصية والتجارية"
                data-en="Flexible rental solutions tailored to your personal and business needs">
                حلول تأجير مرنة تناسب احتياجاتك الشخصية والتجارية
            </h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="icon-circle">
                        <i class="fas fa-car-side"></i>
                    </div>
                    <div class="number">01</div>

                    <h3 data-ar="تأجير الأفراد" data-en="Individual Rentals">
                        تأجير الأفراد
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="خدمات تأجير قصير وطويل المدى يومي، أسبوعي، شهري وسنوي داخل المدن والمطارات بأسطول حديث يلبي جميع الاحتياجات."
                       data-en="Short- and long-term rental services (daily, weekly, monthly, yearly) within cities and airports, with a modern fleet that meets all needs.">
                        خدمات تأجير قصير وطويل المدى يومي، أسبوعي، شهري وسنوي داخل المدن
                        والمطارات بأسطول حديث يلبي جميع الاحتياجات.
                    </p>

                    <ul class="list-unstyled">
                        <li class="text-muted fw-semibold" data-ar="أسطول حديث ومتنوع"
                            data-en="Modern and diverse fleet">
                            <i class="fas fa-check text-purple"></i> أسطول حديث ومتنوع
                        </li>
                        <li class="text-muted fw-semibold" data-ar="خيارات شخصية وعائلية"
                            data-en="Personal and family options">
                            <i class="fas fa-check text-purple"></i> خيارات شخصية وعائلية
                        </li>
                        <li class="text-muted fw-semibold" data-ar="تغطية محلية وعالمية"
                            data-en="Local and global coverage">
                            <i class="fas fa-check text-purple"></i> تغطية محلية وعالمية
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="icon-circle">
                        <i class="fas fa-briefcase"></i>
                    </div>
                    <div class="number">02</div>

                    <h3 data-ar="تأجير الأعمال" data-en="Business Rentals">
                        تأجير الأعمال
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="تأجير قصير المدى مصمم خصيصاً لتلبية احتياجاتكم التجارية بأسعار ثابتة ومزايا حصرية للشركات."
                       data-en="Short-term rentals designed specifically to meet your business needs with fixed pricing and exclusive benefits for companies.">
                        تأجير قصير المدى مصمم خصيصاً لتلبية احتياجاتكم التجارية بأسعار
                        ثابتة ومزايا حصرية للشركات.
                    </p>

                    <ul class="list-unstyled">
                        <li class="text-muted fw-semibold" data-ar="أسعار ثابتة مميزة"
                            data-en="Special fixed rates">
                            <i class="fas fa-check text-purple"></i> أسعار ثابتة مميزة
                        </li>
                        <li class="text-muted fw-semibold" data-ar="مزايا للموظفين" data-en="Employee benefits">
                            <i class="fas fa-check text-purple"></i> مزايا للموظفين
                        </li>
                        <li class="text-muted fw-semibold" data-ar="خدمات احترافية"
                            data-en="Professional services">
                            <i class="fas fa-check text-purple"></i> خدمات احترافية
                        </li>
                    </ul>
                </div>
            </div>

            <div class="col-lg-4 col-md-6">
                <div class="service-box">
                    <div class="icon-circle">
                        <i class="fas fa-truck-moving"></i>
                    </div>
                    <div class="number">03</div>

                    <h3 data-ar="التأجير التشغيلي" data-en="Operational Leasing">
                        التأجير التشغيلي
                    </h3>

                    <p class="text-muted fw-semibold"
                       data-ar="تأجير أسطول طويل المدى بعقود سنوية مرنة بدون تعقيدات مع مرونة في السداد وبدون تكاليف مخفية."
                       data-en="Long-term fleet leasing with flexible annual contracts, hassle-free, with flexible payment options and no hidden costs.">
                        تأجير أسطول طويل المدى بعقود سنوية مرنة بدون تعقيدات مع مرونة في
                        السداد وبدون تكاليف مخفية.
                    </p>

                    <ul class="list-unstyled">
                        <li class="text-muted fw-semibold" data-ar="عقود سنوية سلسة"
                            data-en="Smooth annual contracts">
                            <i class="fas fa-check text-purple"></i> عقود سنوية سلسة
                        </li>
                        <li class="text-muted fw-semibold" data-ar="مرونة في السداد"
                            data-en="Flexible payment options">
                            <i class="fas fa-check text-purple"></i> مرونة في السداد
                        </li>
                        <li class="text-muted fw-semibold" data-ar="بدون رسوم إضافية"
                            data-en="No additional fees">
                            <i class="fas fa-check text-purple"></i> بدون رسوم إضافية
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</section>

<section class="cta py-5">
    <div class="container">
        <div class="row g-4 justify-content-center p-5">
            <div class="col-lg-6">
                <div class="content d-flex flex-column gap-2 justify-content-center align-items-center">
                    <h2 data-ar="هل أنت مستعد لرحلة خالية من التوتر؟"
                        data-en="Are you ready for a stress-free trip?">
                        هل أنت مستعد لرحلة خالية من التوتر؟
                    </h2>
                    <p data-ar="احجز خدمة السائق الفاخرة الخاصة بك اليوم."
                       data-en="Book your private luxury driver service today.">
                        احجز خدمة السائق الفاخرة الخاصة بك اليوم.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="button d-flex flex-column gap-2 justify-content-center align-items-center">
                    <a href="/Booking/Reserve" class="btn book-btn" data-ar="احجز الأن" data-en="Book Now">
                        احجز الأن
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>